body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

h1{
    color: #0e0702;
    text-align: center;
}

h2 {
    color: #0e0702;
}

dl {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

dt {
    font-weight: bold;
    margin-top: 10px;
}