body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    border: #333 1px solid;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin: 0 auto;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    border:#333 1px solid;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    line-height: 1.6;
    margin: 10px 0;
    border: #333 1px solid;
    padding: 10px;
    background-color: #e0e0e0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    color: #0e0e0e;
    margin: 10px 0;
    background-color: #e0e0e0;
    padding: 10px;
    line-height: 1.6;
    border: #333 1px solid;
}

code{
    background-color: #040a41;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}